[data-milkdown-root='true'] {
  min-height: 100%;
  height: max-content;
}

.milkdown {
  min-height: 100%;
  height: max-content;
}

.milkdown ::selection {
  background-color: color-mix(in srgb, var(--color-primary) 25%, transparent);
}
