.ProseMirror {
  outline: none;
  height: 100%;
  min-height: 100%;
  padding-left: max(1rem, calc((100% - 80ch) / 2));
  padding-right: max(1rem, calc((100% - 80ch) / 2));
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.ProseMirror:focus {
  outline: none;
  box-shadow: none;
}
